<div class="container" style="margin:50; padding:0">
    <div class="row">
        <h1>Shopping Cart</h1>
        <a href="#">Deselect all items</a>
    </div>
    <div id="row-page" class="row">

        <div class="col-9">
            <div class="col" id="title-Row">
                <!--utiliser un NgFor et NgIf pour creer des rows d'item dans la colone-->
                <div class="row">
                    <div class="col">
                        <div class="row-card">
                            <div class="col" id="check">
                                <input type="checkbox">
                            </div>
                            <div class="card mb-4" style="width:100%; height: auto">
                                <div class="row g-0">
                                    <div class="col-md-4">
                                        <img src="./images/panier/candle.jpg" width="200"
                                            class="img-fluid rounded-start" alt="...">
                                    </div>

                                    <div class="col-md-8">
                                        <div class="card-body">
                                            <h5 class="card-title">Candle</h5>
                                            <p class="card-text">Beautifully scented candle to lighten the mood.</p>
                                            <div class="row">
                                                <div class="col">
                                                    <select class="form-select" aria-label="Qty: 1">
                                                        <option>0 (Delete)</option>
                                                        <option selected>1</option>
                                                        <!--Probablement utiliser un NgFor pour une generation automatiser de 1-10-->
                                                    </select>
                                                </div>


                                                <div class="col">
                                                    <a href="#">Delete</a>
                                                    <a href="#">Share</a>
                                                </div>

                                                <div class="col" style="margin: 0">
                                                    <label><strong>$31.56</strong></label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!---->

                <div class="row">
                    <div class="col">
                        <input placeholder="Coupon Code" type="text" class="form form-control" style="width: 350px;">
                    </div>
                    <div class="col-5">
                        <button type="button" class="btn btn-primary">Use Code</button>
                    </div>

                    <div class="col">
                        <!--probab utiliser un Ngif ici pour l'affichage du sous-total-->
                        <label><strong>Subtotal:</strong></label>
                    </div>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="row">
                <div class="card border-dark mb-3" style="max-width: 22rem; ">
                    <label class="total-title">
                        <strong>
                            <h2>Sous Total $31.56</h2>
                        </strong>
                    </label>
                    <div class="card-body">
                        <div class="col">
                            <div class="row mb-3">
                                <button type="button" class="btn btn-primary">Continue Shopping</button>
                            </div>

                            <div class="row mb-3">
                                <button type="button" class="btn btn-primary">Proceed to method of payment</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>