
<div class="background">
    <div class="container">
        <form class="form-design">
            <app-images-payment></app-images-payment>
            <app-payment-choices></app-payment-choices>

            <div>
                <app-payment-formulaire></app-payment-formulaire>
                <label class="spliter">---------------------------------------------------</label>
                <!-- section si adresse de livraison diffère de l'adresse du formulaire en haut-->
                <app-payment-alternate-shipping></app-payment-alternate-shipping>
                
                <!-- Bouton de confirmation -->
                 <a>
                    <button type="button" class="labels" [routerLink] ="['/confirmation']">Confirmer transaction</button>
                 </a>
            </div>
        </form>
    </div>
</div>

