.background {
    background-color: #c4e0fd;
    border-radius: 0.5rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    padding: 2rem;
    max-width: 800px;
    margin: 0 auto; 
  }

  main {
    padding-top: 5rem;
  }
  