<div class="background">
    <div class="container">
    <!-- Form -->
        <form class="form-design">
            <app-images-payment></app-images-payment>
            <app-payment-choices></app-payment-choices>

            <div>
                <app-payment-formulaire></app-payment-formulaire>
                <label class="spliter">------------------------------------------------------------------------------------------------------------------------------------</label>
                <!-- section si adresse de livraison diffère de l'adresse du formulaire en haut-->
                <app-payment-alternate-shipping></app-payment-alternate-shipping>
                
                <!-- Bouton de confirmation -->
                <button class="labels">Confirmer transaction</button>
            </div>
        </form>
    </div>
</div>
