<div class="col">
    <div class="row">
        <div class="card border-dark mb-3" style="max-width: 22rem; ">
            <label class="total-title">
                <strong>
                    <h2>Sous Total $31.56</h2>
                </strong>
            </label>
            <div class="card-body">
                <div class="col">
                    <div class="row mb-3">
                        <button type="button" [routerLink]="['/home']" class="btn btn-primary">Continue Shopping</button>
                    </div>

                    <a class="row mb-3">
                        <button type="button" [routerLink]="['/formTransaction']" class="btn btn-primary">Proceed to method of payment</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
