<div class="col">
    <div class="row">
        <div class="card border-dark mb-3" style="max-width: 22rem; ">
            <label class="total-title">
                <strong>
                    <h2>Sub Total in $</h2>
                </strong>
            </label>
            <div class="card-body">
                <div class="col">
                    <div class="row mb-3">
                        <button type="button" [routerLink]="['/home']" class="btn btn-outline-primary">Continue Shopping</button>
                    </div>

                    <a type="button" (click)="onProceedToPayment()" class="btn btn-primary">
                        Proceed to checkout
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
