<table class="table-cost">
    <tr>
        <td>
            <label>Total des articles :</label>
        </td>
        <td>
            <input class="narrow-input" id="totalAmount" readonly/>
        </td>
    </tr>
    <tr>
        <td>
            <label>Taxes :</label>
        </td>
        <td>
            <input class="narrow-input" id="taxes"readonly/>
        </td>
    </tr>
    <tr>
        <td>
            <label>Total TTC :</label>
        </td>
        <td>
            <input class="narrow-input" id="TTC" readonly/>
        </td>
    </tr>
</table>