<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <div class="d-flex align-items-center">
      <!-- Sidebar Toggle Button (Only visible on small screens) -->
      <button class="btn btn-outline-secondary sidebar-toggle me-2 border-0" type="button" data-bs-toggle="offcanvas" data-bs-target="#sidebar" aria-controls="sidebar">
        <img src="/assets/menu-8-2.svg" alt="burger menu">
      </button>
      <img class="navbar-brand ms-5" src="/assets/logo/Logo%20JX-HIFI%20extern%20transparent.png" alt="logo compagnie">
      <!-- Search Form -->
      <form class=" d-sm-flex form-search" role="search">
        <div class="input-group">
          <span class="input-group-text"><img src="/assets/svgIcon/search.svg" alt="search" height="16"
                                              width="16"></span>
          <input class="form-control ms-auto" type="search" placeholder="Recherche de Produit" aria-label="Recherche">
        </div>
      </form>
    </div>

  </div>
</nav>
