.card {
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow:hidden;

}
.card img{
    max-height: 200px; 
    object-fit: cover;
}

.card-title {
    font-size: 1.25rem;
    font-weight: bold;
}

.card-text {
    font-size: 0.9rem;
    color: #555;
}

input-group-text {
    font-weight: bold;
}

@media (max-width: 768px) {
    .card-title {
        font-size: 1rem;
    }

    .btn {
        padding: 0.5rem 1rem;
    }
}