<div class="col-9">
    <div class="col" id="title-Row">


        <div class="row">
            <div class="col">
                <input placeholder="Coupon Code" type="text" class="form form-control" style="width: 350px;">
            </div>
            <div class="col-5">
                <button type="button" class="btn btn-primary">Use Code</button>
            </div>

            <div class="col">
                <!--probab utiliser un Ngif ici pour l'affichage du sous-total-->
                <label><strong>Subtotal:</strong></label>
            </div>
        </div>
    </div>
</div>

