<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <img src="assets/images/support/support.jpg" class="support-image">
        </div>
    </div>
</div>

<br>

<div class="container">
    <div class="row gy-5"><!--Beginning of column 1-->
        <div class="col-sm-2" style="border-radius: 15px;">
            <div class="list-group" id="list-tab" role="tablist">
                <a class="list-group-item list-group-item-action active" id="list-faq-list" data-bs-toggle="list"
                    href="#faq-section" role="tab" aria-controls="faq">FAQ</a>
                <a class="list-group-item list-group-item-action" id="list-contact-list" data-bs-toggle="list"
                    href="#contact-us" role="tab" aria-controls="contact">Contact Us</a>
                <a class="list-group-item list-group-item-action" id="list-support-list" data-bs-toggle="list"
                    href="#tech-support" role="tab" aria-controls="support">Technical Support</a>
                <a class="list-group-item list-group-item-action" id="list-shipping-list" data-bs-toggle="list"
                    href="#shipping-policy" role="tab" aria-controls="shipping">Shipping Policy</a>
            </div>
        </div> <!--End of column 1-->

        <div class="col-10"> <!--Begin col 2-->
            <div class="tab-content" id="nav-tabContent">
                <!--Begin Accordion for FAQ Section-->
                <div class="tab-pane fade show active" id="faq-section" role="tabpanel" aria-labelledby="list-faq-list">
                    <div class="accordion" id="accordionExample">
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    Are you open on holidays?
                                </button>
                            </h2>
                            <div id="collapseOne" class="accordion-collapse collapse show"
                                data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <strong>We are open during the holidays!</strong> We are happy to inform our customers
                                    that we will be open during the holiday season, however, our hours will shift minimally to accodomate
                                    family gatherings for our personnel. Our new schedule is the following. <br>
                                    <strong>Mon-Fri : 09:00 - 15:00</strong><br>
                                    <strong>Sat-Sun : 10:00 - 15:00</strong>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    Do you ship to my house, or do I need to come in store?
                                </button>
                            </h2>
                            <div id="collapseTwo" class="accordion-collapse collapse"
                                data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <strong>We can ship to any address you want within Canada</strong> We can 
                                    ship to any address within Canada but there are additional surcharges for BC and Quebec shipping.
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    How can I upgrade my insurance policy?
                                </button>
                            </h2>
                            <div id="collapseThree" class="accordion-collapse collapse"
                                data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <strong>You can speak to you local JX-HIFI customer specialist</strong> 
                                    Our team of customer specialists are specifically trained to help you find what you want in our stores, wether they be
                                    products or the services offer. You can speak to any of our staff and they will give you a detailed description of our
                                    <strong>insurance packages</strong> so that you can make the best choice that fits your needs.
                                </div>
                            </div>
                        </div>
                    </div>
                </div> <!--End Accordiion for FAQ section-->



                <div class="tab-pane fade" id="contact-us" role="tabpanel" aria-labelledby="list-contact-list">
                    <!--Begin Contact Us form-->
                    <form id="formContact" class="contact-form">
                        <div class="row">
                            <div class="col-6">
                                <div class="mb-3"> <!--FIRST NAME-->
                                    <label for="firstName" class="form-label">First Name</label>
                                    <input type="" class="form-control" id="firstName" aria-describedby="">
                                </div>
                            </div>


                            <div class="col-6">
                                <div class="mb-3"> <!--PACKAGE NUMBER-->
                                    <label for="packageNumber" class="form-label">Package Number (optional)</label>
                                    <input type="" class="form-control" id="packageNumber">
                                </div>

                            </div>
                        </div>

                        <div class="row">
                            <div class="col-6">
                                <div class="mb-3"> <!--LAST NAME-->
                                    <label for="lastName" class="form-label">Last Name</label>
                                    <input type="email" class="form-control" id="lastName"
                                        aria-describedby="lastname">

                                </div>
                            </div>


                            <div class="col-6">
                                <div class="mb-3"> <!--EMAIL-->
                                    <label for="email" class="form-label">Email</label>
                                    <input type="email" class="form-control" id="email">
                                    <div class="form-text">We'll never share your email with anyone else.</div>
                                </div>

                            </div>
                        </div>

                        <div class="row-message">
                            <div class="col-12">
                                <div class="mb-3"> <!--MESSAGE-->
                                    <label for="message" class="form-label">Message</label>
                                    <textarea rows="8" placeholder="Write your comments here : " class="form-control"
                                        id="message"></textarea>
                                </div>
                            </div>
                        </div>

                        <button type="button" style="width: 200px;" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalMessage">
                            Send
                        </button>
                        
                        <!-- MODAL TO INFORM USER OF MESSAGE SENT-->
                        <div class="modal fade" id="modalMessage" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="exampleModalLabel">Message Sent</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        Your message has been sent and we will review it as soon as we can. We hope to get back to you in a timely manner
                                        to fullfil your needs. Thank you and have a good day.
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>




                    </form>
                </div> <!--End Contact us Form-->


                <!--Begin Tech Support Div-->
                <div class="tab-pane fade" id="tech-support" role="tabpanel" aria-labelledby="list-messages-list">
                    <div class="row">
                        <div class="col-6">

                            <div class="row">
                                <h2>Customer Support Staff</h2>
                            </div>

                            <div class="row">
                                <div class="col">
                                    <h5>Toll-Free</h5>
                                </div>
                                <div class="col">
                                    <label>1-800-999-9999</label>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col">
                                    <h5>Canada</h5>
                                </div>
                                <div class="col">
                                    <label>1-800-555-5599</label>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col">
                                    <h5>US</h5>
                                </div>
                                <div class="col">
                                    <label>1-800-444-4499</label>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col">
                                    <h5>Email Us</h5>
                                </div>
                                <div class="col">
                                    <label>amineF&#64;gmail.com</label>
                                </div>
                            </div>
                        </div>


                        <div class="col-6">
                            <div class="row">
                                <h2>Technical Support Staff</h2>
                            </div>

                            <div class="row">
                                <div class="col">
                                    <h5>Toll-Free</h5>
                                </div>
                                <div class="col">
                                    <label>1-801-115-9999</label>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col">
                                    <h5>Canada</h5>
                                </div>
                                <div class="col">
                                    <label>1-801-225-5599</label>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col">
                                    <h5>US</h5>
                                </div>
                                <div class="col">
                                    <label>1-801-335-4499</label>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col">
                                    <h5>Email Us</h5>
                                </div>
                                <div class="col">
                                    <label>amineF&#64;gmail.com</label>
                                </div>
                            </div>


                        </div>
                    </div>
                </div> <!--End Tech Support Div-->


                <!--Begin Shipping Policy-->
                <div class="tab-pane fade" id="shipping-policy" role="tabpanel" aria-labelledby="list-settings-list">
                    <h1 class="text-center">Shipping Policy</h1>
                    <p>Most products will ship from our facility within 1-2 business days after order placement. For
                        products over 150 lbs,
                        please refer to our freight page for more details.</p>
                    <p>Express shipment orders placed after 12PM EST will be shipped the next business day. Our free
                        shipping option (orders
                        over $49 to contiguous US) will ship via the cheapest ground service.</p>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Shipping Method</th>
                                <th>Estimated Delivery Time</th>
                                <th>Weekend Delivery</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>FedEx Priority Overnight</td>
                                <td>Next business day</td>
                                <td>Extra fee for weekend delivery (optional)</td>
                            </tr>
                            <tr>
                                <td>Ground Shipping</td>
                                <td>2-5 business days</td>
                                <td>Yes (most residential locations)</td>
                            </tr>
                        </tbody>
                    </table>
                    <p>Tracking updates may be slow, and there may be periods without updates. For shipping to PO Boxes,
                        USPS tracking is
                        required.</p>
                </div>
                <!--End Shipping Policy-->

            </div> <!--End col 2-->
        </div>
    </div>
</div>
