html, body{
    height: auto;
    margin: 0;
    padding: 0;
    overflow-y: auto;

}



.support-image {
    width: 100%;
    max-width: 100%;
    height: 300px;
    object-fit: cover;
    filter: brightness(0.9);

}

.container-fluid{
    filter: brightness(1.1);
    padding:0;
    margin:0;
    overflow-x: hidden;
}

.container{
    height: auto;
    min-height: 100vh;
}





.list-group-item {
    background-color: #A3BDFF;
    color: #000;

}

.list-group-item:hover {
    background-color: #8EA8E5;
    cursor: pointer;

}

#formContact {
    background-color: #8EA8E5;
    border-radius: 15px;
    padding: 15px;
}

.row-message {
    height: 320px;
    height: auto;
        /* Allows it to expand with content */
}

.send {
    width: 250px;
}
