<div class=" main-content-wrapper">
  <div *ngIf="produit" class=" p-4 row flex-lg-row align-items-center g-5 py-5">
    <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">{{produit.name}}</h1>

    <div class="col-lg-6">
      <form>
        <div class="mb-3">
          <label for="name" class="form-label">Nom</label>
          <input type="text" class="form-control" id="name" [(ngModel)]="produit.name" name="name">
        </div>
        <div class="mb-3">
          <label for="brand" class="form-label">Marque</label>
          <input type="text" class="form-control" id="brand" [(ngModel)]="produit.brand" name="brand">
        </div>
        <div class="mb-3">
          <label for="sellPrice" class="form-label">Prix de vente</label>
          <input type="number" class="form-control" id="sellPrice" [(ngModel)]="produit.sellPrice" name="sellPrice">
        </div>
        <div class="mb-3">
          <label for="costPrice" class="form-label">Prix Coutant</label>
          <input type="number" class="form-control" id="costPrice" [(ngModel)]="produit.costPrice" name="costPrice">
        </div>
        <div class="mb-3">
          <label for="onSale" class="form-label ">En spécial</label>
          <input type="checkbox" class="form-check-input mx-3" id="onSale" [(ngModel)]="produit.onSale" name="onSale">
        </div>
        <div class="mb-3">
          <label for="specialPrice" class="form-label">Prix Special</label>
          <input type="number" class="form-control" id="specialPrice" [(ngModel)]="produit.specialPrice" name="specialPrice">
        </div>
        <div class="mb-3">
          <label for="description" class="form-label">Description</label>
          <textarea class="form-control" id="description" [(ngModel)]="produit.description" name="description"></textarea>
        </div>
        <div class="mb-3">
          <label for="category" class="form-label">Catégorie</label>
          <select class="form-select" id="category" [(ngModel)]="produit.category.name" name="category">
            <option value="" disabled selected>Choose an option</option>
            <option *ngFor="let category of categories" [value]="category.name">{{category.name}}</option>
          </select>
        </div>
        <div class="mb-3">
          <label  class="form-label">Image</label><br>
          <div *ngFor="let image of produit.images; let i=index">
            <div class="input-group mb-2">
              <input type="text" class="form-control" placeholder="Url" [(ngModel)]="image.url" name="image{{i}}">
              <button type="button" class="btn btn-danger" (click)="removeImage(i)">Remove</button>
            </div>
          </div>
          <button type="button" class="btn btn-primary mt-3" (click)="addImage()">Ajouter Images</button>
        </div>
        <div class="mb-3">
          <label for="stock" class="form-label">Stock</label>
          <input type="number" class="form-control" id="stock" [(ngModel)]="produit.stock" name="stock">
        </div>
        <div class="mb-3">
          <label  class="form-label">Couleur</label><br>
          <div *ngFor="let color of produit.colors; let i = index">
            <div class="input-group mb-2">
              <input type="text" class="form-control" placeholder="Couleur" [(ngModel)]="produit.colors[i]" name="color{{i}}">

              <button type="button" class="btn btn-danger" (click)="removeColor(i)">Enlever</button>
            </div>
          </div>
          <button type="button" class="btn btn-primary mt-3" (click)="addColor()">Ajouter une Couleur</button>
        </div>
        <div class="mb-3">
          <label  class="form-label">Spécifications Courte</label><br>
          <div *ngFor="let detail of produit.shortSpecifications; let i = index">
            <div class="input-group mb-2">
              <input type="text" class="form-control" placeholder="Title" [(ngModel)]="detail.title" name="specificationShortTitle{{i}}">
              <input type="text" class="form-control" placeholder="Description" [(ngModel)]="detail.description" name="specificationShortDescription{{i}}">
              <button type="button" class="btn btn-danger" (click)="removeSpecificationShort(i)">Enlever</button>
            </div>
          </div>
          <button type="button" class="btn btn-primary mt-3" (click)="addSpecificationShort()">Ajouter Spécification Courte</button>
        </div>
        <div class="mb-3">
          <label  class="form-label">Spécifications détaillées</label><br>
          <div *ngFor="let detail of produit.specificationDetails; let i = index">
            <div class="input-group mb-2">
              <input type="text" class="form-control" placeholder="Title" [(ngModel)]="detail.title" name="specificationDetailsTitle{{i}}">
              <input type="text" class="form-control" placeholder="Description" [(ngModel)]="detail.description" name="specificationDetailsDescription{{i}}">
              <button type="button" class="btn btn-danger" (click)="removeSpecificationDetail(i)">Enlever</button>
            </div>
          </div>
          <button type="button" class="btn btn-primary mt-3" (click)="addSpecificationDetail()">Ajouter Specification Détaillé</button>
        </div>

      </form>

      <div class="d-grid gap-2 d-md-flex justify-content-start mt-5">
        <button routerLink="/admin/products" type="button" class="btn btn-secondary btn-lg px-4 me-md-2">Retour</button>
        <button type="button" class="btn btn-success btn-lg px-4 me-md-2" (click)="modifyProduit()">Modifier</button>
      </div>
    </div>
  </div>
</div>

