<div class="container" *ngIf="productsOfCategory.length > 0">
    <!-- Offcanvas Sidebar -->
    <div class="offcanvas offcanvas-start filterOffcanvas" tabindex="-1" aria-labelledby="filterOffcanvasLabel">
        <div class="offcanvas-header">
            <button type="button" id="btnCloseOffcanvas" class="btn-close" data-bs-dismiss="offcanvas"
                aria-label="Close"></button>
        </div>
        <div class="offcanvas-body filterOffCanvansContainer m-5 d-flex flex-column justify-content-center">

            <app-product-filter-jean [products]="productsOfCategory"></app-product-filter-jean>
            
        </div>
    </div>

    <div class="row py-4">
        <div class="col-xl-3 activeFilter filterSidebar d-none d-xl-block align-items-center">

            <app-product-filter-jean [products]="productsOfCategory" (filterChange)="applyFilter($event)"></app-product-filter-jean>

        </div>
        <div class="col-xl-9">

            <button class="btn btn-primary d-xl-none mb-3" id="btnOpenOffcanvas" type="button"
                data-bs-toggle="offcanvas" data-bs-target=".filterOffcanvas" aria-controls="filterOffcanvas">
                Filter
                <img src="../../../../assets/images/icons/filter-left.svg" alt="filterIcon">
            </button>

            <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-4 py-2">

                <app-product-list-jean *ngFor="let product of filteredProduct"
                    [selectedProduct]="product"></app-product-list-jean>

            </div>
        </div>
    </div>
</div>