<!--Carousel-->
<div id="carouselPromo" class="carousel slide">

    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselPromoIndicators" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselPromoIndicators" data-bs-slide-to="1"
            aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselPromoIndicators" data-bs-slide-to="2"
            aria-label="Slide 3"></button>
    </div>


    <div class="carousel-inner">

        <div class="carousel-item active c-item">
            <img src="/assets/images/promo/promo.jpg" class="d-block w-100 c-image" alt="...">
        </div>

        <div class="carousel-item c-item">
            <img src="/assets/images/promo/phone_sale.jpg" class="d-block w-100 c-image" alt="...">
        </div>

        <div class="carousel-item c-item">
            <img src="/assets/images/promo/tower.jpg" class="d-block w-100 c-image" alt="...">
        </div>

    </div>

    <button class="carousel-control-prev" type="button" data-bs-target="#carouselPromo" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>

    <button class="carousel-control-next" type="button" data-bs-target="#carouselPromo" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<!--Categories, which i have to make more responsive-->
        <div class="container">
            <h1>Categories</h1>
            <div class="row gy-5">
        
                <div class="col-sm-3 mb-3 mb-sm-0">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Sale</h5>
                            <img src="/assets/images/categories/sale-logo.jpg" style="width: 200px; height: 200px;" alt="">
                        </div>
        
                    </div>
                </div>
        
                <div class="col-sm-3 mb-3 mb-sm-0">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Desktops</h5>
                            <img src="/assets/images/categories/tower.jpg" style="width: 200px; height: 200px;" alt="">
                        </div>
        
                    </div>
                </div>
        
                <div class="col-sm-3 mb-3 mb-sm-0">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Laptops</h5>
                            <img src="/assets/images/categories/laptop.jpg" style="width: 200px; height: 200px;" alt="">
                        </div>
        
                    </div>
                </div>
        
                <div class="col-sm-3 mb-3 mb-sm-0">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Screens</h5>
                            <img src="/assets/images/categories/monitor.jfif" style="width: 300px; height: 200px;" alt="">
                        </div>
        
                    </div>
                </div>
        
                <div class="col-sm-3 mb-3 mb-sm-0">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Phones</h5>
                            <img src="/assets/images/categories/phone.jfif" style="width: 200px; height: 200px;" alt="">
                        </div>
        
                    </div>
                </div>
            </div>
        </div>


