* {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;

}

.navbar {
  background-color: white;
  padding: 0.5rem 1rem;
  height: 120px;
}

.form-search {
  height: 4.25rem;
  margin-left: 15em;
  width: 25rem;
}

.input-group-text {
  border: none;
  background-color: #F2F4FA;
}

.form-control {
  background-color: #F2F4FA;
  border: none;
}

.icon {
  width: 32px;
  height: 32px;
  cursor: pointer;
}

.icon-nav {
  width: 35px;
  height: 35px;
  cursor: pointer;
}

.sidenav {
  padding-left: 1rem;
  width: 250px;
  height: calc(100vh - 125px);
  background: white;

  top: 125px;
  left: 0;
  min-height: calc(100vh - 120px);

}
.offnav{
  width: 235px;
  padding-left: 1rem;
  font-size: 0.75rem;
}
.offnav img{
  width: 24px;
  height: 24px;
  margin-right: 1rem;
}
.custom-navbar .form-search {
  max-width: 400px; /* Limit search bar width */
}

.custom-navbar .navbar-brand {
  max-height: 50px; /* Scale logo for better fit */
}


.sidebar-toggle {
  display: none;
}
.main-content-wrapper {
  background: #F2F4FA;
  min-height: calc(100vh - 125px);
  padding: 20px;
  border-radius: 20px;
}

.content-header {
  padding: 20px;
  margin-bottom: 20px;
}
.navbar-brand {
  height: 100px;
  width: 150px;
}
.card {
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0 1px 2px grey ;

}

.card-title {
  padding: 15px;
  margin-bottom: 0;
  border-bottom: 1px solid;
}
.action-link{
  cursor: pointer;
}
.btn-add{
  width: 15em;
}
.modal-body {
  font-size: 1.25rem; /* Increase the font size */
}
.modal-title {
  font-size: 1.5rem; /* Increase modal title font size */
}
.small-table {
  font-size: 0.85em;
}

.shrink-table td,
.shrink-table th {
  max-width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.chart-container{
  position: relative;
  height:275px;
  max-width: 100%;
  overflow: hidden
}
.app-main-card {
  width: 100%; /* Ensure the main card takes the full width of its container */
  height: 100%; /* Ensure the main card takes the full height of its container */
}


/* Media Queries for Responsive Adjustments */
@media (max-width: 1510px) {
  .custom-navbar {
    display: none !important; /* Hide navbar on screens <= 1520px */
  }
  .sidebar-toggle {
    display: inline-block !important; /* Show toggle button */
  }
}

@media (max-width: 1024px) {
  .form-search {
    max-width: 200px; /* Narrow search bar on medium screens */
  }
}

@media (max-width: 992px) {
  .navbar-actions img {
    width: 24px;
    height: 24px; /* Smaller icons for small screens */
  }
  .form-search {
    display: none; /* Hide search bar on small screens */
  }
}

