.form-design {
  background-color: #c4e0fd;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .totals-input {
    width: 150px; /* Largeur fixe pour tous les inputs */
    text-align: right; /* Alignement à droite du texte */
  }
  
  .totals-section label {
    font-size: 0.9rem; /* Taille uniforme pour les labels */
  }