<div class="main-content-wrapper text-center">
  <div class="p-4 row flex-lg-row align-items-center g-5 py-5">
    <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">{{store?.name}}</h1>
    <div class="col-lg-6 mx-auto">

      <div >
        Voulez vous supprimer le produit: <span><br>
        <ul class="mt-3 mb-3" *ngIf="store">
          <li><strong>{{store.name}}</strong></li>
          <li><strong>{{store.email}}</strong></li>
          <li><strong> {{store.telephone}}</strong> </li>
          <li><strong>{{store.address.address}}</strong> </li>
        </ul>
      </span>  Attention l'action est permanante
      </div>
      <div >
        <div class="container mt-5">
          <div [ngClass]="{'active': isDelete,'visually-hidden':!isDelete}" class="alert alert-success " role="alert">
            La suppression a ete effectuer avec succès
          </div>

        </div>
        <div class="d-grid gap-4 d-md-flex justify-content-md-center mx-5 mt-5">
          <button type="button" class="btn btn-secondary" routerLink="/admin/stores">Retour</button>

          <button type="button" class="btn btn-danger" (click)="deleteStore()" >Supprimer</button>
        </div>
      </div>
    </div>
  </div>
</div>

