    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <ul class="nav flex-column">
                    <li class="nav-item mt-5 mb-3">
                        <a role="button" routerLink="/account-details/personalInfo"  routerLinkActive="active" class="nav-link link-body-emphasis" >
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="36" fill="currentColor"
                                class="bi bi-file-person" viewBox="0 0 16 16">
                                <path
                                    d="M12 1a1 1 0 0 1 1 1v10.755S12 11 8 11s-5 1.755-5 1.755V2a1 1 0 0 1 1-1zM4 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2z" />
                                <path d="M8 10a3 3 0 1 0 0-6 3 3 0 0 0 0 6" />
                            </svg> Personal Information
                        </a>
                    </li>
                    <li class="nav-item mb-3">
                        <a role="button" routerLink="/account-details/orders" routerLinkActive="active" class="nav-link link-body-emphasis">
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="black" class="bi bi-bag-check"
                                viewBox="0 0 16 16">
                                <path fill-rule="evenodd"
                                    d="M10.854 8.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 0 1 .708-.708L7.5 10.793l2.646-2.647a.5.5 0 0 1 .708 0" />
                                <path
                                    d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1m3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4zM2 5h12v9a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1z" />
                            </svg> Orders
                        </a>
                    </li>
            
                    <li class="nav-item">
                        <a href="#" routerLinkActive="active"  class="nav-link link-body-emphasis mt-3">
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="36" fill="currentColor"
                                class="bi bi-door-open" viewBox="0 0 16 16">
                                <path d="M8.5 10c-.276 0-.5-.448-.5-1s.224-1 .5-1 .5.448.5 1-.224 1-.5 1" />
                                <path
                                    d="M10.828.122A.5.5 0 0 1 11 .5V1h.5A1.5 1.5 0 0 1 13 2.5V15h1.5a.5.5 0 0 1 0 1h-13a.5.5 0 0 1 0-1H3V1.5a.5.5 0 0 1 .43-.495l7-1a.5.5 0 0 1 .398.117M11.5 2H11v13h1V2.5a.5.5 0 0 0-.5-.5M4 1.934V15h6V1.077z" />
                            </svg>
                            Déconnections
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    

    