<nav class="navbar navbar-expand-md">
    <div class="container d-flex justify-content-between align-items-center">
        <a class="navbar-brand d-none d-md-block" href="#">
            <img src="assets/images/logo/Logo JX-HIFI.png" alt="logo jx-hifi" width="100">
        </a>

        <div class="searchBar d-flex align-items-center gap-2 w-100 ">
            <button class="btn d-md-none" id="btnOpenOffcanvas" type="button" data-bs-toggle="offcanvas"
                data-bs-target=".CategoryHeaderOffcanvas" aria-controls="CategoryHeaderOffcanvas">
                <img src="assets/images/icons/three-dots.svg" alt="categoryIcon">
            </button>

            <div class="input-group d-flex">
                <input class="form-control" style="--bs-border-radius: 20px; border: none" type="text"
                    placeholder="Find a product...">
                <button class="btn" style="--bs-btn-bg: white; --bs-btn-border-radius: 20px" type="submit">
                    <img src="assets/images/icons/search.svg" alt="search_icon" style="height: 1.5em;">
                </button>
            </div>
        </div>

        <div class="d-none d-md-flex gap-5">
            <a class="btnIcon text-center" href="">
                <img class="imgIcon" src="assets/images/icons/Shop.svg" alt="store_icon">
                <div class="txtIcon">Stores</div>
            </a>
            <a class="btnIcon text-center" href="">
                <img class="imgIcon" src="assets/images/icons/Profil.svg" alt="account_icon">
                <div class="txtIcon">Account</div>
            </a>
            <a class="btnIcon text-center" href="">
                <img class="imgIcon" src="assets/images/icons/cart.svg" alt="cart_icon">
                <div class="txtIcon">Cart</div>
            </a>
        </div>
    </div>
</nav>
<div class="categoryNav container-fluid d-md-flex justify-content-center py-1 gap-4 d-none">
    <div *ngFor="let cat of listCategory; let i = index" class="d-flex gap-4">
        <a class="categoryShortcut" [routerLink]="['products/', cat.id]" 
        [innerHTML]="cat.id === 'CAT111' ? '<b>' + cat.name + '</b>' : cat.name"></a>
        <div *ngIf="i < listCategory.length - 1" class="separator"></div>
    </div>
</div>

<div class="navbar d-flex d-md-none container-fluid justify-content-around fixed-bottom p-2">
    <a class="btnIcon text-center" href="">
        <img class="imgIcon" src="assets/images/icons/home.svg" alt="home_icon">
    </a>
    <a class="btnIcon text-center" href="">
        <img class="imgIcon" src="assets/images/icons/Profil.svg" alt="account_icon">
    </a>
    <a class="btnIcon text-center" href="">
        <img class="imgIcon" src="assets/images/icons/cart.svg" alt="cart_icon">
    </a>
</div>

<div class="categoryNavOffCanvas offcanvas offcanvas-start CategoryHeaderOffcanvas" tabindex="-1"
    aria-labelledby="CategoryHeaderOffcanvasLabel">

    <div class="offcanvas-header">
        <button type="button" id="btnCloseOffcanvas" class="btn-close" data-bs-dismiss="offcanvas"
            aria-label="Close"></button>
    </div>

    <div class=" text-center d-flex flex-column my-3 p-2 align-items-center gap-4">
        <a style="font-weight: bold;" href="#">Offers</a>
        <div class="separatorOffCanvas"></div>
        <a href="#">Desktops</a>
        <div class="separatorOffCanvas"></div>
        <a href="#">Laptops</a>
        <div class="separatorOffCanvas"></div>
        <a href="#">Monitors</a>
        <div class="separatorOffCanvas"></div>
        <a href="#">Phones</a>
        <div class="separatorOffCanvas"></div>
        <a href="#">Headphones</a>
    </div>

    <div class="text-center d-flex flex-column mt-5 p-2 align-items-center gap-4">

        <a href="#!" class="text-reset">About Us</a>
        <a href="#!" class="text-reset">Contact Us</a>

        <img src="assets/images/logo/Logo JX-HIFI.png" alt="logo jx-hifi" width="100">

        <div>
            <h5>
                This is our project, it's a really cool badasss mofo project
            </h5>
            <h6>
                © 2024 Bisoux, Caresses et Popcorns aux chocolat !
            </h6>

        </div>
    </div>
</div>