.navbar {
    background-color: rgba(16, 60, 172, 1);
}

.categoryNav {
    background-color: rgba(65, 101, 192, 1);
}

.categoryShortcut,
.btnIcon {
    color: white;
    width:75px;
    margin: 0;
}

.btnIcon:hover{
    box-shadow: 0 0 10px 5px rgba(72, 144, 232, 1);
    border-radius: 10px;
    
}

.separator {
    border-left: 2px solid rgba(16, 60, 172, 1);
    border-radius: 1px;
    height: 20px;
    margin: auto 5px;
}

@media (min-width: 768px) {
    .searchBar {
        width: 50% !important;
    }
}

/* Style pour le HeaderOffCanvas des Category */
.separatorOffCanvas {
    border-top: 2px solid rgba(16, 60, 172, 1);
    border-radius: 1px;
    width: 100%;
 
}

.categoryNavOffCanvas a {
    color: black;
}
.categoryNavOffCanvas {
    background-color: rgb(178, 200, 255);
    overflow-y: scroll;
}
