.navbar {
    background-color: rgba(16, 60, 172, 1);
}

.categoryNav {
    background-color: rgba(65, 101, 192, 1);
}

.categoryShortcut,
.btnIcon {
    color: white;
}

.separator {
    border-left: 2px solid rgba(16, 60, 172, 1);
    border-radius: 1px;
    height: 20px;
    margin: auto 5px;
}

@media (min-width: 768px) {
    .searchBar {
        width: 50% !important;
    }
}