<!--header-->
<app-header></app-header>
<!-- form confirmation de transaction -->
<div class="container frame">
    <form>
      <h1>Merci pour votre confiance!</h1>
  
      <div class="mb-3">
        <label for="confirmation" class="form-label">Voici le numéro de confirmation de votre achat :</label>
        <input type="text" class="form-control width" id="NumConfirmation" readonly />
      </div>
  
      <div class="mb-3">
        <label for="livraison" class="form-label">Où...</label>
      </div>
  
      <div class="row mb-3">
        <div class="col-6">
          <label for="Nom" class="form-label">Nom</label>
          <input type="text" class="form-control" id="Nom" readonly />
        </div>
      </div>
  
        <div class="col-6">
          <label for="AdresseLivraison" class="form-label">Adresse de livraison</label>
          <input type="text" class="form-control" id="AdresseLivraison" readonly />
        </div>
      <div class="mb-3">
        <label for="livraison" class="form-label">Quand...</label>
      </div>
  
      <div class="mb-3">
        <label for="livraison" class="form-label">Livraison CoD</label>
      </div>
  
      <div class="mb-3">
        <label for="livraison" class="form-label">Temps de livraison : 5 à 10 jours ouvrables</label>
      </div>
  
      <div class="mb-3">
        <label class="form-label">Détail de votre commande</label>
        <table class="table table-bordered table-striped">
          <thead>
            <tr>
              <th>Image</th>
              <th>Description</th>
            </tr>
          </thead>
          <tbody>
            <!-- ajuster image et description selon les variables de Lion (shoping cart)
            <tr *ngFor="let product of products">
              <td>
                <img [src]="product.image" [alt]="product.description" class="img-fluid" />
              </td>
              <td>{{ product.description }}</td>
            </tr> -->
          </tbody>
        </table>
      </div>
  
      <button type="submit" class="btn btn-primary width">Fermer cette fenêtre</button>
    </form>
  </div>

<!-- footer -->
<app-footer></app-footer>