/* tableau de specification HEADER*/
.nav-tabs {
    background-color: rgba(16, 60, 172, 0.2);
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    color: black;
    font-weight: bold;
}

/* tableau de specification CONTENT*/
.specsTable th {
    border: none;
    padding-bottom: 0%;
    background-color: rgba(16, 60, 172, 0);
}

.specsTable td {
    border: none;
    padding-top: 0%;
    background-color: rgba(16, 60, 172, 0);
    color: gray;
}

.specsSection,
.descSection,
.reviewSection {
    background-color: rgba(16, 60, 172, 0.2);
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    padding: 1rem;
}