<div class=" main-content-wrapper">
  <div *ngIf="category" class=" p-4 row flex-lg-row align-items-center g-5 py-5">
    <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">{{category.name}}</h1>

    <div class="col-lg-6">
      <ul class="lead mx-5">
        <li *ngFor="let detail of categoryDetail">
          <strong>{{detail.label}} :</strong> {{detail.value}}
        </li>
      </ul>
      <div class="d-grid gap-2 d-md-flex justify-content-md-start mx-5 mt-5">
        <button routerLink="/admin/categories" type="button" class="btn btn-primary btn-lg px-4 me-md-2">Retour</button>
      </div>
    </div>
  </div>
</div>

