<!-- form confirmation de transaction -->
<div class="container frame">
  <form class="form-design">
      <h3>Merci pour votre confiance!</h3>

      <div class="mb-3">
      </div>

      <div class="mb-3">
          <label for="livraison" >Où...</label>
      </div>

      <table class="table">
        <tr>
          <td>
            <label for="confirmation" class="form-label">Voici le numéro de confirmation de votre achat  :</label>
          </td>
          <td><input type="text" id="NumConfirmation" readonly /></td>
        </tr>
      </table>

      <table>        
          <tr>
              <td>
                <label for="Nom" >Nom :</label>                
              </td>
              <td>
                <input type="text" class="wide-input-more" id="Nom" readonly />
              </td>
          </tr>
          <tr>
          </tr>
          <tr>
              <td>
              <label for="shippingAddress" >Adresse de livraison :</label>              
              </td>
              <td>
              <input type="text" class="wide-input-more" id="shippingAddress" readonly />
              </td>
          </tr>
      </table>

   <table>
      <tr>
        <td>
          <label for="livraison" >Quand...</label>
        </td>        
      </tr>
      <tr>
        <td>
          <label for="livraison" >Livraison CoD</label>
        </td>
      </tr>
      <tr>
        <td>
          <label for="livraison" >Temps de livraison : 5 à 10 jours ouvrables</label>
        </td>        
      </tr>
    </table>   

    <label class="spliter">---------------------------------------------------------------------------------</label>

    <table>
        <tr>
          <td>
            <label >Détail de votre commande</label>
          </td>
        </tr>
        <!-- Table for Image and Description headers -->
        <tr>
          <th>Image</th>
          <th>Description</th>
        </tr>
        <!-- Table body dynamically filled -->
        <tbody id="panier-table-body">
          <!-- Les objets du panier s'afficheront ici -->
        </tbody>
    </table>

    <table class="table-cost">
        <tr>
            <td>
                <label>Total des articles :</label>
            </td>
            <td>
                <input class="narrow-input" id="totalAmount" readonly/>
            </td>
        </tr>
        <tr>
            <td>
                <label>Taxes :</label>
            </td>
            <td>
                <input class="narrow-input" id="taxes"readonly/>
            </td>
        </tr>
        <tr>
            <td>
                <label>Total TTC :</label>
            </td>
            <td>
                <input class="narrow-input" id="TTC" readonly/>
            </td>
        </tr>
    </table>

    <button type="submit" class="button-close">Fermer cette fenêtre</button>
  </form>
</div>
