  /* Assurez-vous que les <p> utilisent le même fond que le formulaire */
.p-text {
    background-color: transparent; /* Assure que le fond est transparent */
    color: #555; /* Change la couleur du texte si nécessaire (ex. gris) */
  }
  
  /* Optionnel : Si tu veux définir un fond personnalisé pour le texte */
  .form-design {
    background-color: #c4e0fd;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }

img.form.img {
    max-width: 200px; /* Taille maximale de l'image */
    width: 100%; /* Permet à l'image de s'ajuster à la largeur du conteneur */
    height: auto; /* Garde les proportions de l'image */
    display: block;
    margin: 0 auto; /* Centre l'image horizontalement */
  }

  
  

  

  