<div class="content">
    <div id="personalInformation" class="collapse">
        <div class="container">
            <div class="col-12">
                <div class="row">First Name</div>
                <div class="row">Last Name</div>
                <div class="row">Email</div>
                <div class="row">Phone</div>
                <div class="row">Address</div>
                <div class="row">City</div>
                <div class="row">Country</div>
            </div>
        </div>
    </div>
</div>
<p>Test</p>
