img {
    height: 100ox;
    width: 100px;
    margin: 10px;
}



.container {
    padding: 20px;
    border-style: groove;
    border-radius: 10px;
    width: 500px;
    height: 450px;

}

#log {
    width: 100%;
}

#create {
    width: 200px;
}