<br>
<!--Check with the mock list of users as well-->
<!--Check if the ngIf is what is needed to validate the entry for a User-->
<div class="login">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10 ">
                <form [formGroup]="logForm" (submit)="submitLogIn()">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Email address</label>
                        <input formControlName="logEmail" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                            >
                    </div>
                    <br>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Password</label>
                        <input formControlName="logPassword" type="password" class="form-control" id="exampleInputPassword1" >
                    </div>
                    <br>
                    <button type="submit" id="log" class="btn btn-primary">Submit</button>
                </form>

                <a href="forgotPassword">Forgot password?</a>

                <br><br><br>
                <form>
                    <h6>New to our Business?</h6>
                    <button id="create" class="btn btn-secondary">
                        Create an account
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>