<table>
    <tr>
        <td>
            <label class="labels" for="numéroCarte">Numéro de la carte</label>
        </td>                    
    </tr>
    <td>
        <input type="text" id="numéroCarte" name="numéroCarte" class="wide-input" required>
    </td>
    <tr>
        <td>
            <table style="width: 100%;">
                <tr>
                    <td style="width: 50%;">
                        <label class="labels" for="date">Date d'expiration</label>
                        <input type="text" id="date" name="date" class="narrow-input" required>
                    </td>
                    <td style="width: 50%;">
                        <td>
                            <label class="labels" for="cvc">CVC</label>
                            <input type="text" id="cvc" name="cvc" class="narrow-input" required>
                        </td>
                    </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td>
            <label class="labels" for="detenteur" >Nom du détenteur de la carte</label>
        </td>

    </tr>
    <td>
        <input type="text" id="detenteur" name="detenteur" class="wide-input" required>
    </td>
    <tr>
        <td>
            <label class="labels" for="adresse">Adresse</label>
        </td>
    </tr>
    <td>
        <input type="text" id="adresse" name="adresse" class="wide-input" required>
    </td>
    <tr>
        <td>
            <label class="labels" for="ville">Ville</label>
        </td>
    </tr>
    <td>
        <input type="text" id="ville" name="ville" class="wide-input" required>
    </td>
    <tr>
        <td>
            <table style="width: 100%;">
                <tr>
                    <td style="width: 50%;">
                        <label class="labels" for="province">Province</label>
                        <input type="text" id="province" name="province" class="narrow-input" required>
                    </td>
                    <td style="width: 50%;">
                        <td>
                            <label class="labels" for="pays">Pays</label>
                            <input type="text" id="pays" name="pays" class="narrow-input" required>
                        </td>
                    </tr>                            
            </table>

        </td>
    </tr>
</table>